body {
    font-family: Tahoma, Arial, Verdana;
}
h2 {
    color: #3a5795;
}
body > article {
    background-color: #eee;
    padding: 10px;
    margin-bottom: 20px;
}
#holder {
    border: 10px dashed #ccc;
    width: 300px;
    min-height: 300px;
    margin: 20px auto;
}
#holder.hover {
    border: 10px dashed #0c0;
}
#holder img {
    display: block;
    margin: 10px auto;
}
#holder p {
    margin: 10px;
    font-size: 14px;
}
progress {
    width: 100%;
}
progress:after {
    content: '%';
}
.fail {
    background: #c00;
    padding: 2px;
    color: #fff;
}
.hidden {
    display: none !important;
}